<%= form_for(@team) do |form| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex justify-content-center" class="form-group row">
    <label class="col-sm-4 col-form-label">Team Name</label>
    <div class="col-sm-8">
      <%= form.text_field :name %>
    </div>
  </div>
<% end %>
