@import "bootstrap";

.disable_link
{
	pointer-events: none;
  	cursor: default;
  	opacity: 0.6;
}
.actual-score {
    font-size: 1.5em;
    color: #5353b1;
    margin-bottom: 0px;
}
.score-card-body {
    padding: 5px;
}

.score-card-title{
    margin-bottom: 5px;
}
span.match-start-time {
    font-size: .5em !important;
}
.match-winner {
    text-align: center;
    margin-left: 10px;
    font-size: 1.5em;
}

span.match-start-time {
    display: block;
    margin-top: 5px;
}
.col-md-4.col-sm-12.my-4.score-card {
    margin: 5px 0px 0px 0px !important;
    padding: 5px 3px 0px 5px;
}

.match-card-body {
    font-size: 18px;
		font-weight: 800;
}

.match-card-title {
    font-size: 14px;
		margin: 0px !important;
		font-weight: 500;
}

.match-card-sub-title {
    font-size: 14px;
}

.score-font{
    color: #000080;
    font-size: 14px;
}

.table-border
{
    font-size: 14px;
    border-radius: 50px;
    border: 2px solid;
    padding: 20px;
}

.match-started
{
	font-size: 12px;
}

.match-status
{
	display: inline-block;
  float: right;
}

.match-score
{
	font-weight: 700;
 	font-size: 14px;
 	text-align: center;
}

.custom-select
{
    width: 50%;
}

.team-card{
    width: 70%; 
}